.list-head {
    background: linear-gradient(rgb(215, 253, 214), rgb(215, 253, 214));
    margin-top: 12px;
}

.heading-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 8px 25px 16px;
    font-family: 'roboto';    
}

.heading-btn a {
    text-decoration: none;
    color: #fff;
    background-color: rgb(0, 132, 255);
    padding: 8px 12px;
    border-radius: 4px;
}

.interesting-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-inline: 12px;
    height: 427px;
    justify-content: center;
}

.list-items {
    background-color: #fff;
    padding: 16px 16px 12px;
    border: 1px solid rgb(248, 243, 243);
    font-family: font4;

}

.list-items img {
    width: 120px;

}

.list-items p {
    color: #262626;
    font-size: 12px;
    margin-top: 10px;

}

p.price {
    color: #388e3c;
    font-size: 14px;
}