.carousel-desk img {
    width: 1680px;
    height: 280px;
}

.carousel-desk {
    display: flex;
    overflow: hidden;
    margin-top: 12px;
    padding: 8px;
    position: relative;
    margin-inline: 8px;
}

.hdfc {
    box-shadow: 0 0.1875rem 0.4375rem 0 rgb(0 0 0 / 7%), 0 0.0625rem 0.125rem 0 rgb(0 0 0 / 1%);
    padding: 8px;
    background-color: #fff;
    margin-inline: auto;
}

.hdfc img {
    width: 100%;
}

.arrow-left {
    padding: 20px;
    box-shadow: 0 0.1875rem 0.4375rem 0 rgb(0 0 0 / 13%), 0 0.0625rem 0.125rem 0 rgb(0 0 0 / 11%);
    border-radius: 2px;
    position: absolute;
    display: block;
    z-index: 2;
    bottom: 100px;
    left: 0;
    background-color: #fff;
    width: 48px;
}

.arrow-left img {
    height: 56px;
    width: 15px;

}

.arrow-right {
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 0.1875rem 0.4375rem 0 rgb(0 0 0 / 13%), 0 0.0625rem 0.125rem 0 rgb(0 0 0 / 11%);
    display: block;
    padding: 20px;
    position: absolute;
    bottom: 100px;
    right: -2px;
    transform: rotate(180deg);
    z-index: 2;
    width: 48px;
}

.arrow-right img {
    height: 56px;
    width: 15px;
}